/* styles.css */

.table-container {
  height: 500px;
  overflow: auto;
  padding: 10px;
}

.input-field {
  margin-bottom: 20px;
  padding: 8px;
  font-size: 16px;
  width: 80%;
  border: none;
  border-bottom: 1px solid rgb(115, 131, 147);
}
.input-field::placeholder {
  color: lightgray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.input-field:focus {
  outline: none;
  border-bottom: 1.8px solid lightslategray;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  padding: 14px;
  border-bottom: 1px solid #c0c0c0;
  background-color: #f2f2f2;
  color: rgb(21, 118, 167);
  font-weight: bold;
  cursor: pointer;
  text-align: left;
  border-left: 1px solid #c0c0c0;
}

/* .table tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.table td {
  padding: 32px;
  border-bottom: 1px solid #ddd;
  color: rgb(75, 79, 82);
  border-left: 1px solid #c0c0c0;
}

.buttons button {
  padding-top: 4rem;
  text-align: left;
  border: none;
  font-size: smaller;
  margin-left: 1rem;
  color: rgb(232, 77, 21);
  cursor: pointer;
}

.featured {
  font-size: small;
  top: 0;
  margin-top: -22px;
  padding-bottom: 15px;
  margin-left: -22px;
  color: rgb(39, 220, 39);
}
.package {
  font-size: smaller;
  color: rgb(110, 111, 112);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.cell {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: -4.6rem;
  margin-left: -1rem;
  font-weight: 600;
  color: rgb(135, 136, 137);
}
.course-fees {
  color: rgb(52, 236, 162);
  font-weight: 700;
  font-size: medium;
}
